 .calculator{
  height: 490px;
    width: 350px;
  background-color: blueviolet;
  margin: 17px 0px 0px 107px;
  border-radius: 10px; 
  /* box-shadow: inset 5px 5px 12px rgb(225, 219, 219);
                    5px 5px 12px rgba(0,0,0,.16); */
  display:grid;
  grid-template-columns:repeat(4,87px);
}
input{
  grid-column: span 4;
  height: 80px;
  width: 320px;
  background-color: rgba(219, 230, 69, 0.782);
  box-shadow: inset -5px -5x 12px #ffffff,
              inset 5px 5px 12px rgb(170, 35, 35);
  border: none;
  border-radius: 30px;
  color: rgb(75, 72, 72);
}