.container1{
  background-color: rgb(15, 15, 15);
  height: 500px;
  width: 300px;
  margin: 8px;
  margin-left: 106px;
  padding-top: 20px;
  border-radius: 10px;
}
#out{
  width: 250px;
  height: 64px;
  margin-left: 24px;
  border-radius: 15px;
  background-color: darkgrey;
  border: 2px solid yellow;
}
/* .center{
    background-color: rgb(52, 60, 66);;
    height: 70px;
    width:250px;
   margin-left: 24px;
  text-align: right;
  border-radius: 10px;
 color: white;
 font-size: 40px;
 padding-right: 14px;
 border-style: inset;
} */
.middle{
    background-color:rgb(52,60,66);
    height: 380px;
    width:250px;
  border-radius: 10px;
  margin-left: 24px;
  text-align: right;
  margin-top: 10px;
  border-style: inset;
}
.btn1{
  border-radius: 50%;
  color:white;
  padding: 8px;
  margin: -9px;
  margin-top: 25px;
  margin-right: 13px;
  border-block-color: inherit;
  width: 50px;
  height: 53px;
  background-color: black;
  font-size: 22px;
}
.btn2{
  border-radius: 50%;
  color:white;
  padding: 8px;
  margin: -9px;
  margin-top: 25px;
  margin-right: 13px;
  border-block-color: inherit;
  width: 50px;
  height: 53px;
  background-color: black;
  font-size: 22px;
}
.btn3{
  border-radius: 50%;
  color:white;
  padding: 8px;
  margin: -9px;
  margin-top: 25px;
  margin-right: 13px;
  border-block-color: inherit;
  width: 50px;
  height: 53px;
  background-color: black;
  font-size: 22px;
}
.btn4{
  border-radius: 50%;
  color:white;
  padding: 8px;
  margin: -9px;
  margin-top: 25px;
  margin-right: 13px;
  border-block-color: inherit;
  width: 50px;
  height: 53px;
  background-color: black;
  font-size: 22px;
}
.btnm{
  border-radius: 28%;
    color: white;
    padding: 8px;
    margin: -9px;
    margin-top: 25px;
    margin-right: 13px;
    border-block-color: inherit;
    width: 107px;
    height: 53px;
    background-color: black;
    font-size: 22px;
}
.btn5{
  border-radius: 50%;
  color:white;
  padding: 8px;
  margin: -9px;
  margin-top: 25px;
  margin-right: 13px;
  border-block-color: inherit;
  width: 50px;
  height: 53px;
  background-color: black;
  font-size: 22px;
}