*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
header {
    background-color: aliceblue;
    height: 83px;
   
}
.search {
    width: 304px;
    height: 33px;
    align-items: center;
    border-radius: 31px;
    font-size: 18px;
    padding: 16px;
    background-color: lightgray;
    margin: 0 0 0 20px;
    position: relative;
    top: -31px;
}
img {
    width: 74px;
    height: 66px;
    padding: 4px;
    margin-top: 14px;
    margin-left: 45px;
    border-radius: 10px;
}
.nav-list, li {
    float: right;
    display: flex;
    padding: 20px;
    text-decoration: blink;
    text-decoration-color: #d7ca2a;
    text-decoration-line: blink;
}
.nav-bar{
    display: flex;
}

.middle{
    width: 75%;
   
}
main{
    width: 75%;
    margin: 50px;
    display: grid;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns:repeat(3, 1fr) 100px;
    grid-gap: 20px;
}
.div1{background-color: #d7ca2a;
grid-row: 1/-1;}
.div2{background-color: #3a3823;
grid-column: 1/-2; grid-row: 1/-2;}
.div3{background-color: #242204;}
.div4{background-color: #2a9ad7;}
.div5{background-color: #621a0c;
    }
.div6{background-color: #bc3db7;
    }



  

